.card {
  background: white;
  margin: em(8);
  border-radius: em(2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  @include transition(box-shadow 0.15s ease-in-out);

  &:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
}

.card-header {
  padding: em(16);
  display: block;
}

.card-title {
  margin: 0;
  font-size: em(24);
  line-height: 1em;
}

.card-media {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 0;

  img {
    max-width: 100%;
  }

  .card-title {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
    color: white;
  }

  &:first-child {
    img {
      border-radius: em(2) em(2) 0 0;
    }
  }
}

.card-content {
  display: block;
  padding: em(16);
}

.card-header + .card-content {
  padding-top: 0;
}

.card-actions {
  padding: em(6);
  display: flex;
  align-items: center;
  @include clearfix();

  .card-action-left {
  }

  .card-action-right {
    flex-grow: 1;
    text-align: right;
  }

  .button-icon {
    margin: em(2);
  }
}
