#{$all-text-inputs},
textarea {
  line-height: em(24);
  padding: em(12) 0 em(3);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: em(1) solid #ddd;
  margin: 0 0 em(8);
  display: block;
  width: 100%;
  @include transition(border-color 0.15s ease-in-out);

  &:focus {
    border-bottom-width: em(2);
    border-bottom-color: $blue;
    margin-bottom: em(7);
    outline: none;
  }

  &:disabled {
    background: transparent;
    border-bottom-style: dashed;
  }
}

textarea {
  resize: vertical;
}

.input {
  &.error {
    #{$all-text-inputs},
    textarea {
      border-bottom-width: em(2);
      border-bottom-color: $red;
      margin-bottom: em(7);
    }

    .input-message {
      color: $red;

      &:before {
        content: "\f071";
        font-family: FontAwesome;
        float: right;
      }
    }

    .input-counter {
      color: $red;
    }
  }

  &.pending {
    .input-message {
      color: $blue;

      &:before {
        content: "\f1ce";
        font-family: FontAwesome;
        float: right;
        @include animation(spin 2s infinite linear);
      }
    }

  }
}

.input-message {
  font-size: em(12);
  line-height: 1em;
  margin-bottom: 1em;
  min-height: 1em;
  color: #999;
  @include clearfix();
  @include transition(color 0.15s ease-in-out);
}

.input-counter {
  float: right;
  font-size: em(12);
  line-height: 1em;
  margin-left: 1em;
  color: #999;
}

.label-checkbox {
  display: block;
  cursor: pointer;
  margin-bottom: 1em;

  input[type="checkbox"] {
    display: none;

    & + .checkbox {
      @include fa;
      width: 1em;
      margin-right: 1em;

      &:before {
        content: "\f096";
      }
    }

    &:checked + .checkbox {
      &:before {
        content: "\f046";
      }
    }
  }
}

.label-radio {
  display: block;
  cursor: pointer;
  margin-bottom: 1em;

  input[type="radio"] {
    display: none;

    & + .radio {
      @include fa;
      width: 1em;
      margin-right: 1em;

      &:before {
        content: "\f10c";
      }
    }

    &:checked + .radio {
      &:before {
        content: "\f192";
      }
    }
  }
}
