#{$all-text-inputs},
textarea {
  padding: em(16) 0 em(7);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: em(1) solid #ddd;
  margin: 0 0 em(8);
  display: block;
  width: 100%;
  @include transition(border-color 0.3s ease-in-out);

  &:focus {
    border-bottom-width: em(2);
    border-bottom-color: $blue;
    margin-bottom: em(7);
    outline: none;
  }

  &:disabled {
    background: transparent;
    border-bottom-style: dashed;
    cursor: not-allowed;
  }
}

#{$all-text-inputs} {
  @include box-sizing(content-box);
  height: 1em;
}

textarea {
  resize: vertical;
}
