.left-nav-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0.3s ease-in-out, opacity 0.3s ease-in-out);
}

.left-nav-drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: em(56);
  z-index: 1001;
  max-width: em(304);
  background: white;
  overflow: auto;
  @include transition(transform 0.3s ease-in-out);
  @include transform(translateX(-100%));
}

.left-nav.active {
  .left-nav-mask {
    visibility: visible;
    opacity: 1;
  }

  .left-nav-drawer {
    box-shadow: em(1) 0 em(1) rgba(0, 0, 0, 0.25);
    @include transform(translateX(0));
  }
}

.left-nav.with-fixed-toolbar {
  .toolbar-fixed {
    padding-left: em(4);
  }

  .left-nav-drawer {
    overflow: hidden;
  }

  .left-nav-drawer-scrollable {
    position: absolute;
    top: em(56);
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}

@media screen and (min-width: $large-screen) {
  body.with-pinned-left-nav {
    float: left;
    padding-left: em(304);
    width: 100%;
    @include transition(padding 0.3s ease-in-out);

    .toolbar-fixed {
      padding-left: em(308);
      @include transition(padding 0.3s ease-in-out);
    }

    .left-nav-toggle {
      display: none;
    }

    .toolbar-action + .toolbar-title {
      padding-left: em(12);
    }

    .left-nav-drawer {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: em(304);
      background: white;
      box-shadow: em(1) 0 0 rgba(0, 0, 0, 0.15);
      @include transform(translateX(0));
    }
  }
}
