.list {
  padding: em(8) 0;
}

.list-item {
  display: flex;
  text-decoration: none;
  color: #333;

  &.active {
    color: $blue;
  }
}

.list-item-avatar {
  padding: em(16);
  line-height: 0;

  img {
    height: em(40);
    width: em(40);
    border-radius: em(20);
  }
}

.list-item-content {
  line-height: 1;
  padding: em(16);
  flex-grow: 1;
}

.list-item-avatar + .list-item-content {
  padding-left: 0;
}

.list-item-icon {
  text-align: center;
  padding: em(16);

  i.fa {
    font-size: em(20);
    width: em(24, 20);
    line-height: em(24, 20);
    vertical-align: top;
  }
}

.list-item-content-primary {
  line-height: em(24, 16);
}

.list-item-content-secondary {
  font-size: em(14);
  line-height: em(16, 14);
  color: #999;
}

.list-single-line {
  .list-item {
    align-items: center;
  }

  .list-item-avatar {
    padding: em(8) em(16);
  }
}

.list-two-line {
  .list-item {
    align-items: center;
  }
}

.list-three-line {
  .list-item {
    align-items: top;
  }
}

