.menu {
  position: relative;
}

.menu-toggle {
  padding-right: em(30);
  position: relative;

  &:after {
    @include fa;
    content: "\f0d7";
    position: absolute;
    right: em(10);
    width: em(16);
    text-align: center;
  }
}

.menu-list {
  display: none;
}

.menu.active {
  .menu-list {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: em(8) 0;
    background: white;
    border-radius: em(2);
    box-shadow: 0 em(1) em(3) em(1) rgba(0, 0, 0, 0.25);
  }
}

.menu-list-item {
  line-height: 1;
  padding: em(16);
  display: block;
  cursor: pointer;

  &:hover {
    background: #efefef;
  }
}
