.toolbar {
  padding: 4px;
  @include display(flex);

  &.app-bar {
    background: $blue;
    color: white;
  }
}

.toolbar-action {
  .button {
    width: 48px;
  }
}

.toolbar-title {
  padding: 12px;
  @include flex(1);
}
