.toolbar {
  padding: em(4);
  @include display(flex);

  &.app-bar {
    background: $blue;
    color: white;
  }
}

.toolbar-action {
  button,
  #{$all-button-inputs} {
    width: em(48);
    padding: em(12);
    min-width: 0;
  }
}

.toolbar-title {
  padding: em(12) em(20);
  @include flex(1);
}
