.toolbar {
  padding: 4px;
  @include display(flex);

  &.app-bar {
    background: $blue;
    color: white;
  }
}

.toolbar-action {
  .button {
    width: 48px;
    padding: 12px;
    min-width: 0;
  }
}

.toolbar-title {
  padding: 12px 20px;
  @include flex(1);
}
