body {
  background: white;
  color: #333;
  font-family: $helvetica;
  font-size: 1em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0 0.5em;
}

h1 {
  font-size: 1em * 2.25;
}

h2 {
  font-size: 1em * 2;
}

h3 {
  font-size: 1em * 1.75;
}

h4 {
  font-size: 1em * 1.5;
}

h5 {
  font-size: 1em * 1.25;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0.75em 0;
}

hr {
  border-bottom: em(1) solid #ddd;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 1.5em 0;
}

code {
  font-family: $monospace;
}

blockquote {
  border-left: em(2) solid #ddd;
  color: lighten(#333, 15);
  margin: 1.5em 0;
  padding-left: 1.5em * 0.5;
}
