// Screen size
$medium-screen: em(1024);
$large-screen: em(1200);

// Color
$blue-lightest: #d0d9ff;
$blue-lighter: #91a7ff;
$blue-light: #738ffe;
$blue: #5677fc;
$blue-dark: #4e6cef;
$blue-darker: #455ede;
$blue-darkest: #2a36ba;

$red-lightest: #f9bdbb;
$red-lighter: #f36c60;
$red-light: #e84e40;
$red: #e51c23;
$red-dark: #dd191d;
$red-darker: #d01716;
$red-darkest: #b0120a;

$green-lightest: #a3e9a4;
$green-lighter: #42bd41;
$green-light: #2baf2b;
$green: #259b24;
$green-dark: #0a8f08;
$green-darker: #0a7e07;
$green-darkest: #0d5302;

$yellow-lightest: #fff9c4;
$yellow-lighter: #fff176;
$yellow-light: #ffee58;
$yellow: #ffeb3b;
$yellow-dark: #fdd835;
$yellow-darker: #fbc02d;
$yellow-darkest: #f57f17;

$teal-lightest: #b2dfdb;
$teal-lighter: #4db6ac;
$teal-light: #26a69a;
$teal: #009688;
$teal-dark: #00897b;
$teal-darker: #00796b;
$teal-darkest: #004c40;

$purple-lightest: #e1bee7;
$purple-lighter: #ba68c8;
$purple-light: #ab47bc;
$purple: #9c27b0;
$purple-dark: #8e24aa;
$purple-darker: #7b1fa2;
$purple-darkest: #4a148c;
