@import "campo-ui";

.main {
}

.container {
  @include outer-container;
}

.post {
  padding: em(16);
}

.example {
  background: #eee;
  overflow: hidden;

  .example-container {
    max-width: 480px;
    margin: 0 auto;
  }
}
